* {
  font-family: sans-serif;
  font: Helvetica;
  text-align: center;
}


.nav {
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

a {
  color: white;
}

p.link {
  font-size: 18px;
}


h2 {
  font-size: 32px;
  font-weight: bold;
}
